
   body {
      background-color: red;
      font-size: 150%;}
   h3 {
     font-size: 300%;
    }
    div {
      border-style: solid;
      border-color: white;
      border-width: 5px;
    }
    *{
      color: green;
      text-shadow: 2px 2px 1px rgb(0,0,0);
      text-align: center;
    }
