/* add CSS class and element and selectors here */
body{
  background-color: red;
  text-shadow: 2px 2px #960707;
  text-align: center;
}
h3{
  font-size: 300%;
}
div{
  border-style: solid;
}
p{
  color: green;
}
